{% load humanize %}
<div class="contact-tab-content">
  {% if relationships %}
    <div class="contact-matters-section">
      <div class="table-container">
        <table class="table contact-matters-list">
          <thead>
            <tr>
              <th class="status">Status</th>
              <th>Matter</th>
              <th class="id">ID</th>
            </tr>
          </thead>
          <tbody>
            {% for relationship in relationships %}
              <tr id="matter-{{ relationship.matter.id }}">
                <td class="status">{{ relationship.matter.status }}</td>
                <td class="name">
                  <a href="{% url 'matters:contacts' id=relationship.matter.id %}">{{ relationship.matter.name }}</a>
                </td>
                <td class="id">
                  {% if relationship.matter.client_reference_id %}
                    {{ relationship.matter.client_reference_id }}
                  {% else %}
                    {{ relationship.matter.id }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <div class="contact-empty-state">
      <p>This contact is not associated with any matters.</p>
    </div>
  {% endif %}
</div>
