

/*------------------------------------------------
Display
------------------------------------------------*/

.proceedings-list {
  margin: 0.75rem 0 0.25rem 0;
  width: 100%;
}

.proceedings-list .date-filed {
  width: 7.5rem;
}

.proceedings-list .case-no	{
  width: 12.5rem;
}

.proceedings-list .status {
  width: 7.5rem;
}

.proceedings-list .primary {
  width: 6.25rem;
}


/*------------------------------------------------
Form
------------------------------------------------*/

.proceedings-form #id_case_number {
  width: 15.625rem;
}

.proceedings-form #id_status {
  width: 8.75rem;
}
