{% block subcontent %}
  <div class="table-container">
    <table id="rates" class="table rates-table">
      {% for rate in rates %}
        <tr>
          <td class="rates-user">{{ rate.user|title }}</td>
          <td class="rates-rate">
            <a href="#"
               hx-get="/matters/{{ matter.id }}/rates/{{ rate.id }}/edit"
               hx-target="#htmx-modal-container"
               hx-trigger="click"
               data-bs-toggle="modal"
               data-bs-target="#htmx-modal-container">${{ rate.matter_rate }}</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2" class="empty-message">No custom rates set for this matter.</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="matter-subtab-add">
    <button type="button"
            class="btn-icon"
            hx-get="/matters/{{ matter.id }}/rates/add"
            hx-target="#htmx-modal-container"
            data-bs-toggle="modal"
            data-bs-target="#htmx-modal-container">
      <i class="icon-plus with-text"></i> Add Rate
    </button>
  </div>
{% endblock subcontent %}
