
#folders {
  margin-bottom: 1.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.folder-item {
  display: flex;
}

.folder-item .bi-folder {
  color: var(--stone-400);
}

.add-folder {
  border-bottom: none;
}

.edit-folder {
  justify-content: space-between;
  margin-right: 0.75rem;
  width: 100%;
}

.delete-folder {
  color: var(--orange-800);
  margin: 0;
}

.folder-item-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}


.list-group-item .bi-person,
.list-group-item .bi-folder {
  color: var(--stone-400);
  margin-right: 0.75rem;
}
