/* ==========================================================================
List View
========================================================================== */

.invoices .invoice-id {
  width: 5rem;
}
.invoices .date {
  width: 8.75rem;
}

.invoices .amount {
  text-align: right;
  width: 9.375rem;
}

.invoices .status {
  width: 9.375rem;
}

.download {
  text-align: center;
  width: 3.125rem;
}

.invoices-delete,
.invoices-delete:hover {
  color: var(--orange-800);
}

.status-buttons {
  display: flex;
  gap: 0.75rem;
  margin-left: 1rem;
}

/* ==========================================================================
Detail View
========================================================================== */

.invoices-detail-table {
  height: fit-content;
  width: 30%;
}

@media (max-width: 768px) {
  .invoices-detail-table {
    width: 100%;
  }
}

.invoices-table-container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .invoices-table-container {
    flex-direction: column;
  }
}

/* ==========================================================================
Quick Payments
========================================================================== */

.invoice-quick-payments {
  flex-grow: 1;
  gap: 1rem;
}

.invoice-direct-payment {
  float: right;
  margin-bottom: 0.5rem;
}

/* ==========================================================================
Cancel Form
========================================================================== */

.invoices-cancel-form input {
  margin-top: 0.5rem;
  width: 100%;
}

/* ==========================================================================
Payments
========================================================================== */

.payments .id {
  width: 5rem;
}

.payments .matter {
  width: 18.75rem;
}

.payments .method {
  width: 9.375rem;
}

.payments .date {
  width: 7.5rem;
}

.payments .amount {
  text-align: right;
  width: 9.375rem;
}

/* ==========================================================================
Credits
========================================================================== */

.credits .id {
  width: 5rem;
}

.credits .matter {
  width: 18.75rem;
}

.credits .date {
  width: 7.5rem;
}

.credits .amount {
  text-align: right;
  width: 9.375rem;
}

/* ==========================================================================
 Unbilled
========================================================================== */

.clearance-negative {
  color: var(--orange-800);
}

.unbilled-list .unbilled-col {
  width: 13%;
}

.unbilled-list .unbilled-matter {
  width: auto;
}

.unbilled-list .unbilled-hours {
  width: 10%;
}

.unbilled-totals td {
  background: var(--stone-150);
}

.create-invoice-icon {
  float: right;
  color: var(--stone-400);
  font-size: 1rem;
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.unbilled-matter:hover .create-invoice-icon {
  opacity: 0.7;
}

.create-invoice-icon:hover {
  opacity: 1 !important;
  color: var(--stone-500);
}

/* ==========================================================================
 Collection
========================================================================== */

.collection .numeric {
  width: 9.375rem;
}

/* ==========================================================================
 Application
========================================================================== */

.payment-info-table {
  width: 100%;
}

.payment-info-table td:last-child {
  text-align: right;
}

.application-table {
  table-layout: fixed;
}

.application-table th.text-right {
  text-align: right;
}

.application-table td {
  padding-left: 1rem;
}

.application-table td.text-right {
  text-align: right;
}

.application-table input.form-control.application-input {
  width: 8.75rem;
}

.application-table .text-right input {
  display: inline;
}

.to-apply {
  margin-right: 1rem;
}
