<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Matter Groups</h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form hx-post="{% url 'matters:group-add' id=matter.id %}"
            hx-target="#matter-group-list"
            hx-swap="outerHTML"
            hx-on::after-request="if (event.detail.successful) this.reset()"
            class="form-compact matter-group-add">
        {% csrf_token %}
        <label for="group-name">Add a group for this matter</label>
        <div class="matter-group-add-row">
          <input type="text"
                 id="group-name"
                 name="name"
                 placeholder="e.g. Smith Defendants"
                 autocomplete="off"
                 required>
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </form>
      {% include "matters/contacts/group-list.html" %}
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-success matter-group-done"
              @click="$dispatch('close-modal')">Close</button>
    </div>
  </div>
</div>
